<div class="post">
  <div class="header">
    <h1>User Name</h1>

    <button routerLink="/" class="btn btn-link">Home</button>
  </div>

  <div class="info">
    <strong>author</strong>
    <small>date</small>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quisquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quisquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quisquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quisquam!</p>
    </div>

  </div>
</div>
