<br>
<form class="create-user-form">
  <mat-form-field class="create-user-form-control" appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput placeholder="Ivan">
  </mat-form-field>

  <mat-form-field class="create-user-form-control" appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput placeholder="Ivanov">
  </mat-form-field>

  <mat-form-field class="create-user-form-control" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Text..."></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="create-user-form-control">Create</button>
</form>
