<mat-toolbar>
  <button mat-icon-button class="toolbar-brand-button" routerLink="/">Angular SPA</button>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button class="toolbar-button" color="warn" routerLink="/admin" *ngIf="!auth.isAuthenticated()">
    Login
  </button>
  <button mat-raised-button class="toolbar-button" color="warn" routerLink="/registration" *ngIf="!auth.isAuthenticated()">Register</button>
  <button mat-raised-button class="toolbar-button" color="warn" routerLink="/admin" *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()">
    Logout
  </button>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
