<br>
<mat-card class="message-card" *ngIf="message">{{message}}</mat-card>

<form class="form" [formGroup]="loginForm">
  <mat-form-field appearance="fill" class="form-control">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-error
      *ngIf="loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-control">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" [errorStateMatcher]="matcher">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
      Password is <strong>shorter</strong> than {{loginForm.get('password')?.errors?.minlength?.requiredLength}}
      characters
      (current {{loginForm.get('password')?.errors?.minlength?.actualLength}})
    </mat-error>
  </mat-form-field>

  <mat-card class="error-card" *ngIf="auth.error$ | async as error">{{error}}</mat-card>

  <button mat-raised-button color="warn" type="submit" [disabled]="loginForm.invalid || !!auth.isAuthenticated()"
          (click)="submit()">Login
  </button>
</form>
