@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-card {
  background-color: #dc3545;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  margin-bottom: 1rem;
}

.message-card {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 450px;
  transform: translate(-50%, 0px);
  left: 50%;
}

.toolbar-brand-button {
  margin: 5px;
  font-size: 1.5rem;
}

.toolbar-button {
  height: 35px;
  vertical-align: middle;
  margin: 5px !important;
  font-size: 15px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.user-card {
  margin: 1rem;
  display: block;
  flex-direction: row;
  justify-content: space-between;
}

.user-card-fixed {
  display: flex !important;
  max-height: 2rem;
}

.user-card-header-image {
  background-size: cover;
}


